header,
main,
footer {
  margin: auto;
}

main {
  .swiper,
  .swiper img {
    height: 500px;
  }
}

.image-mask-section {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clip-path-section-container {
  .clip-parent {
    div {
      grid-template-columns: 170px auto;
      img {
        max-width: 170px;
      }
      p {
        max-width: 260px;
      }
    }
  }
}

nav ul li a {
  padding: 8px 20px;
}
