$bodyText: "Lato", sans-serif;
$titleText: "Titillium Web", sans-serif;

$bgColor: #0a4776;
$accentOrange: #f77926;
$accentYellow: #f9c455;
$darkBlue: #316287;

$gutter: 16px;

$menuColor: #a64200;
$lightWeight: 300;
